.ant-carousel {
    max-height: 400px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 5px #777;
}
.ant-carousel .slick-slide img {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.nursery-list-wrapper {
    padding: 0 30px;
}

.action-wrapper {
    border-top: 5px solid #EFEFEF;
    background-color: #ffffff;
    padding: 24px 0;
    text-align: center;
}

.points-wrapper {
    background-color: #ffffff;
    text-align: center;
    padding: 24px 0;
    border-top: 5px solid #EFEFEF;
    border-bottom: 5px solid #EFEFEF;
}

.footer {
    padding: 24px;
}

.pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: blueviolet;
}

.title {
    margin: 0 0 0 12px;
    display: none;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px;
    width: 100%;
    max-width: 100%;
}

.contact-image {
    display: none;
}

.child-scroller {
    max-height: 200px;
    overflow-y: scroll;
}

.anticon.home {
    display: flex;
    margin: 0 0 0 12px;
}

@media only screen and (min-width: 768px) {
    .ant-carousel {
        box-shadow: 0 0 5px #777;
    }
    .ant-carousel .slick-slide img {
        margin-top: -100px;
    }
    .contact {
        max-width: 40%;
    }
    .contact-image {
        display: flex;
    }
    .child-scroller {
        max-height: none;
        overflow-y: auto;
    }
    .anticon.home {
        display: none;
    }
    .title {
        display: flex;
    }
}